body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.blue{
    color:darkblue;
}
.maroon{
    color: maroon;
}

.quintessential{
    font-family: 'Quintessential', cursive;
}
.titleFont{
    font-family: 'Abril Fatface', cursive;
}
.makeBigger {
    font-size: 150%;
}
.makeLetterBigger {
    font-size: 250%;
}