<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id = "title" class ="maroon makeBigger titleFont" >
    <h1>Kavitha's Homepage</h1>
</div>
<div id = "content" class ="blue quintessential">
    <p>
    <span class ="makeLetterBigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Interdum consectetur libero id faucibus nisl tincidunt. Ornare quam viverra orci sagittis eu volutpat odio
    facilisis. Sed euismod nisi porta lorem mollis aliquam. Amet cursus sit amet dictum sit amet. Ut aliquam purus sit
    amet luctus venenatis. Ut porttitor leo a diam sollicitudin tempor id eu. Amet justo donec enim diam vulputate. Id
    cursus metus aliquam eleifend mi in nulla. Donec et odio pellentesque diam volutpat commodo sed egestas egestas.
    Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Dolor sit amet consectetur adipiscing elit ut
    aliquam. Et netus et malesuada fames ac turpis egestas sed tempus. Facilisis gravida neque convallis a cras semper
    auctor neque vitae. Netus et malesuada fames ac turpis egestas. At tempor commodo ullamcorper a. Netus et malesuada
    fames ac turpis egestas. Malesuada fames ac turpis egestas sed tempus. Mollis aliquam ut porttitor leo a diam
    sollicitudin tempor id. Enim ut sem viverra aliquet eget.
    </p>
    <p>
    Arcu dui vivamus arcu felis bibendum. Aliquam sem et tortor consequat. Dictum non consectetur a erat nam at lectus.
    Pretium viverra suspendisse potenti nullam ac. Egestas erat imperdiet sed euismod nisi porta. Ut tristique et
    egestas quis ipsum suspendisse ultrices gravida. Quam vulputate dignissim suspendisse in est ante in. A condimentum
    vitae sapien pellentesque habitant. Dictum varius duis at consectetur lorem donec massa. Orci nulla pellentesque
    dignissim enim sit amet.
    </p>
    <p>
    Arcu felis bibendum ut tristique. Ac turpis egestas sed tempus. Porta non pulvinar neque laoreet suspendisse
    interdum consectetur libero id. Duis tristique sollicitudin nibh sit. Tellus in metus vulputate eu scelerisque felis
    imperdiet proin fermentum. Ante in nibh mauris cursus mattis molestie a iaculis. Sit amet nulla facilisi morbi
    tempus iaculis urna id volutpat. Ac tincidunt vitae semper quis lectus nulla at volutpat. Sit amet venenatis urna
    cursus eget nunc scelerisque viverra mauris. Ut tortor pretium viverra suspendisse potenti nullam ac tortor.
    Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Eu feugiat pretium nibh ipsum consequat nisl. Volutpat
    odio facilisis mauris sit amet massa vitae tortor condimentum. Magna eget est lorem ipsum dolor sit amet
    consectetur. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Sagittis aliquam malesuada bibendum
    arcu.
    </p>
    <p>
    Odio pellentesque diam volutpat commodo sed egestas. Praesent semper feugiat nibh sed pulvinar proin gravida. Enim
    lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Cum sociis natoque penatibus et magnis dis.
    Lorem ipsum dolor sit amet consectetur adipiscing. Feugiat nisl pretium fusce id velit ut. Consectetur libero id
    faucibus nisl tincidunt eget. Nec sagittis aliquam malesuada bibendum arcu vitae. Nisl rhoncus mattis rhoncus urna
    neque viverra justo nec. Ullamcorper a lacus vestibulum sed arcu. Eget aliquet nibh praesent tristique magna sit
    amet purus gravida. Id velit ut tortor pretium viverra suspendisse potenti nullam.
     </p>
    <p>
    Eget mi proin sed libero enim sed. Dapibus ultrices in iaculis nunc sed augue lacus viverra. Tincidunt tortor
    aliquam nulla facilisi. Id eu nisl nunc mi ipsum. Feugiat scelerisque varius morbi enim. Etiam tempor orci eu
    lobortis elementum nibh tellus molestie nunc. Commodo elit at imperdiet dui accumsan. Volutpat odio facilisis mauris
    sit amet massa vitae. Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ultrices neque ornare aenean
    euismod elementum nisi quis eleifend quam. Volutpat commodo sed egestas egestas fringilla phasellus. Tincidunt
    ornare massa eget egestas purus viverra accumsan. Fringilla urna porttitor rhoncus dolor purus non enim. Quam
    pellentesque nec nam aliquam sem et tortor. Tempor nec feugiat nisl pretium fusce id velit. Dictum non consectetur a
    erat nam at lectus. Eget arcu dictum varius duis at.
    </p>
</div>
</body>
</html>
